body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Syne Mono", monospace;
  background-color: #7236ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 750px;
  max-width: 75%;
  text-align: center;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.hdwallpapers.in%2Fdownload%2Fbunch_of_large_yellow_bananas_with_black_stripe_hd_banana-1920x1080.jpg&f=1&nofb=1&ipt=a42dc2592dc3827e57eb459acf7be4450ae7f53154f8285093b17da029686f5b&ipo=images");
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px;
  padding: 20px;
}

.container h1{
  background-color: rgba(255, 255, 0, 0.7);
  color: black;
  border-radius: 5px;
}

.button {
  background-color: #4400ff;
  color: #ffffff;
  border-radius: 4px;
  padding: 10px 40px;
  margin: 15px 0px;
  font-size: 1.75rem;
  border: 10px double white;
}

.button:hover {
  border: 10px double white;
  cursor: pointer;
}

.button:active {
  border: 10px solid white;
}
